<ion-header>
  <ion-toolbar>
    <ion-button href='/home' size="small" color="secondary">Home</ion-button>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input placeholder="Contato" [(ngModel)]="nova_conversa.contato"></ion-input>
  <ion-input placeholder="Assunto" [(ngModel)]="nova_conversa.assunto"></ion-input>
  <ion-input placeholder="Imagem" [(ngModel)]="nova_conversa.img"></ion-input>
  <ion-button (click)="adicionar()">ok</ion-button>

  <ion-list>
    <ion-list-header>Conversas</ion-list-header>
    <ion-item *ngFor="let registro of conversas">
      <ion-avatar slot="start">
        <img src="{{registro.img}}">
      </ion-avatar>
      <ion-label>
        <h2>{{registro.contato}}</h2>
        <p>{{registro.assunto}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>